* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    line-height: 1.7;
}

:root {
    /* --main-color: #15c8fa; */
    --main-color: 21, 200, 250;
    --text-main-color: #fff;
    --second-color: #222;
    --section-back-color: #ffffff;
    --gray-color: #777777;
    --section-padding: 4rem;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

@media (min-width: 1300px) {
    .container {
        width: 80vw;
    }
}

@media (max-width: 992px) {
    .container {
        width: 100vw;
        margin: 0;
        padding: 0 1vw;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 14px;
    }
}

/* START HEADER PART */

/* START TOP-BAR PART */

header {
    height: 100vh;
    background: linear-gradient(to bottom, rgb(0 0 0 / .5), rgb(0 0 0 / .7)), url("./../imgs/landing.jpeg");
    background-size: cover;
    position: relative;
}

header::before {
    content: '';
    width: .5rem;
    height: .5rem;
    border: .4rem solid var(--text-main-color);
    border-top-color: transparent;
    border-right-color: transparent;
    position: absolute;
    left: 4vw;
    top: 50%;
    border-radius: 2px;
    transform: translateY(-50%) rotate(45deg);
    z-index: 1;
}

header::after {
    content: '';
    width: .5rem;
    height: .5rem;
    border: .4rem solid var(--text-main-color);
    border-bottom-color: transparent;
    border-left-color: transparent;
    position: absolute;
    right: 4vw;
    top: 50%;
    border-radius: 2px;
    transform: translateY(-50%) rotate(45deg);
    z-index: 1;
}

@media (max-width: 992px) {
    header::before,
    header::after {
        display: none;
    }
}

header .top-bar {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray-color);
}

header nav {
    height: 100%;
    display: flex;
    align-items: center;
}

header .drop-down {
    display: none;
}

header nav ul {
    display: flex;
}

@media (max-width: 992px) {
    
    .container {
        width: 100vw;
        padding: 0 1rem;
    }

    header .drop-down {
        display: flex;
        width: auto;
        height: 5rem;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
    }

    header .drop-down span {
        display: inline-block;
        width: 1.5rem;
        height: 3px;
        background-color: var(--text-main-color);
        border-radius: 2px;
    }
    
    header .drop-down span:not(:last-child) {
        margin-bottom: -1.5rem;
    }

    header nav ul {
        display: none;
    }
    
    header .drop-down:hover + ul,
    header ul:hover
    {
        display: flex;
        background-color: rgb(0 0 0 / .5);
        flex-direction: column;
        align-self: flex-start;
        margin-top: 5rem;
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 2;
    }
}

header nav ul li {
    list-style: none;
    text-transform: capitalize;
}

header nav ul li a {
    display: inline-block;
    padding: 0 1rem;
    line-height: 5rem;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: var(--text-main-color);
    transition: .3s ease all;
}

@media (max-width: 992px) {
    header nav ul li {
        height: 3rem;
    }

    header nav ul li a {
        line-height: 3rem;
    }
}

header nav ul li a:hover {
    color: rgb(var(--main-color));;
    border: none;
    border-bottom: 1px solid rgb(var(--main-color));;
    margin-bottom: -1px;
}

header .search-icon {
    padding: 1rem 0;
    margin-left: 3rem;
    position: relative;
    color: var(--text-main-color);
    font-size: 1.2rem;
    font-weight: 800;
}

header .search-icon::before {
    content: '';
    width: 1px;
    height: 60%;
    background-color: var(--text-main-color);
    position: absolute;
    left: -1.5rem;
    top: 20%;
}

/* END TOP-BAR PART */

header .intro {
    width: 50%;
    height: auto;
    min-height: 10rem;
    padding-left: 5vw;
    background-color: rgba(var(--main-color), 0.4);
    color: var(--text-main-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 1300px) {
    header .intro {
        padding-left: 10vw;
    }
}

header .intro .content {
    padding: 3rem;
}

header .intro h1 {
    font-weight: 400;
    margin: 0;
    margin-bottom: 1rem;
}

header .intro p {
    line-height: 2.2;
    font-weight: 300;
}

@media (max-width: 992px) {
    header .intro {
        width: 100%;
        min-height: 30vh;
    }
}

header .slides {
    width: 6rem;
    height: 2rem;
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header .slides span {
    width: 1.2rem;
    height: 1.2rem;
    background-color: transparent;
    border: 1px solid var(--text-main-color);
    border-radius: 50%;;
}

header .slides span:nth-child(2) {
    background-color: rgb(var(--main-color));
    border: none;
}

/* END HEADER PART */

/* Start General sections styles */
.section {
    padding: 5rem 0;
}

.section .section-header {
    width: 32rem;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.section h2 {
    color: var(--second-color);
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 500;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 4rem;
    position: relative;
}

.section h2::before {
    content: '';
    width: 80%;
    height: 2px;
    background-color: var(--second-color);
    position: absolute;
    bottom: -1rem;
    left: 10%;
}

.section h2::after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    bottom: calc(-1rem - 12px / 2);
    right: 50%;
    transform: translateX(50%);
    border-radius: 50%;
    border: 2px solid var(--second-color);
}

.section .section-header > p {
    color: var(--gray-color);
    text-align: center;
}
/* End General sections styles */

/* Start Services Part Styles */
.services .services-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem
}

@media (max-width: 992px) {
    .services .services-list {
        grid-template-columns: 1fr;
    }
}

.services .service {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    gap: 2rem;
}

@media (max-width: 992px) {
    .services .service {
        padding: 0 1rem;
    }
}

@media (max-width:720px) {
    .services .service {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
}

.services .service-content {
    margin-top: -.4rem;
}

.services .service-content h3{
    color: rgb(var(--main-color));
    margin: 0;
}

.services .service-content p {
    color: var(--gray-color);
}
/* End Services Part Styles */

/* Start Features Part Styles */
.features {
    background: linear-gradient(to right, rgb(0 0 0 / .6), rgb(0 0 0 / .1), rgb(0 0 0 / .6)), url("./../imgs/design-features.jpeg");
    padding: 5rem 0;
    position: relative;
    height: 34rem;
    overflow: hidden;
}

.features .mobile {
    position: absolute;
    left: 5vw;
    bottom: -20%;
}

@media (min-width: 1300px) {
    .features .mobile {
        left: 10vw;
    }
}

@media (max-width: 992px) {
    .features .mobile {
        display: none;
    }
}

.features .design-feats {
    color: var(--text-main-color);
    background-color: rgba(var(--main-color), .4);
    width: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 3rem 4rem;
}

@media (max-width: 992px) {
    .features .design-feats {
        width: 100%;
    }
}

.features .design-feats h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.features .feat span {
    margin-left: 1rem;
}

.features .feat:not(:last-child) {
    margin-bottom: 1rem;
}

.features .feat a {
    text-decoration: none;
    color: var(--text-main-color);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}


/* End Features Part Styles */
