* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    line-height: 1.7;
}

:root {
    /* --main-color: #15c8fa; */
    --main-color: 12 61 243;
    --text-main-color: #fff;
    --second-color: #222;
    --section-back-color: #ffffff;
    --gray-color: #777777;
    --section-padding: 4rem;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

@media (min-width: 1300px) {
    .container {
        width: 80vw;
    }
}

@media (max-width: 992px) {
    .container {
        width: 94vw;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 14px;
    }
}

/* START HEADER PART */

/* START GOTO-TOP BUTTON */

.goto-top {
    width: 4rem;
    height: 4rem;
    background-color: #fff;
    border: 2px solid rgb(var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    border-radius: 50%;
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    z-index: 100;
    animation: top-and-down 1s linear infinite;
}

.goto-top a {
    text-decoration: none;
    color: rgb(var(--main-color));
}

@keyframes top-and-down {
    0%,100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-.8rem);
    }
}

@media (max-width: 768px) {
    .goto-top {
        display: none;
    }
}

/* END GOTO-TOP BUTTON */

/* START TOP-BAR PART */

header {
    height: 100vh;
    background: linear-gradient(to bottom, rgb(0 0 0 / .5), rgb(0 0 0 / .7)), url("./../imgs/landing.jpeg");
    background-size: cover;
    position: relative;
}

header::before {
    content: '';
    width: .5rem;
    height: .5rem;
    border: .4rem solid var(--text-main-color);
    border-top-color: transparent;
    border-right-color: transparent;
    position: absolute;
    left: 4vw;
    top: 50%;
    border-radius: 2px;
    transform: translateY(-50%) rotate(45deg);
    z-index: 1;
}

header::after {
    content: '';
    width: .5rem;
    height: .5rem;
    border: .4rem solid var(--text-main-color);
    border-bottom-color: transparent;
    border-left-color: transparent;
    position: absolute;
    right: 4vw;
    top: 50%;
    border-radius: 2px;
    transform: translateY(-50%) rotate(45deg);
    z-index: 1;
}

@media (max-width: 992px) {
    header::before,
    header::after {
        display: none;
    }
}

header .top-bar {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray-color);
}

header nav {
    height: 100%;
    display: flex;
    align-items: center;
}

header .drop-down {
    display: none;
}

header nav ul {
    display: flex;
}

@media (max-width: 992px) {

    header .drop-down {
        display: flex;
        width: auto;
        height: 5rem;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
    }

    header .drop-down span {
        display: inline-block;
        width: 1.5rem;
        height: 3px;
        background-color: var(--text-main-color);
        border-radius: 2px;
        transition: .2s ease all;
    }
    
    header .drop-down span:not(:last-child) {
        margin-bottom: -1.5rem;
    }

    header nav ul {
        display: none;
    }

    header .drop-down:hover span:not(:nth-child(2)),
    header:has(ul:hover) .drop-down span:not(:nth-child(2)) {
        width: 0;
    }

    header .drop-down:hover span:nth-child(2),
    header:has(ul:hover) .drop-down span:nth-child(2) {
        transform: rotate(45deg);
        width: 1.6rem;
        position: relative;
    }

    header .drop-down:hover span:nth-child(2)::before,
    header:has(ul:hover) .drop-down span:nth-child(2)::before {
        content: '';
        width: 1.6rem;
        height: 3px;
        background-color: var(--text-main-color);
        position: absolute;
        transform: rotate(90deg);
        border-radius: 2px;
    }
    
    header .drop-down:hover + ul,
    header ul:hover
    {
        display: flex;
        background-color: rgb(0 0 0 / .5);
        flex-direction: column;
        align-self: flex-start;
        margin-top: 5rem;
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 2;
    }

}

header nav ul li {
    list-style: none;
    text-transform: capitalize;
}

header nav ul li a {
    display: inline-block;
    padding: 0 1rem;
    line-height: 5rem;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: var(--text-main-color);
    transition: .3s ease all;
}

@media (max-width: 992px) {
    header nav ul li {
        height: 3rem;
    }

    header nav ul li a {
        line-height: 3rem;
    }
}

header nav ul li a:hover {
    color: rgb(var(--main-color));;
    border: none;
    border-bottom: 1px solid rgb(var(--main-color));;
    margin-bottom: -1px;
}

header .search-icon {
    padding: 1rem 0;
    margin-left: 3rem;
    position: relative;
    color: var(--text-main-color);
    font-size: 1.2rem;
    font-weight: 800;
}

header .search-icon::before {
    content: '';
    width: 1px;
    height: 60%;
    background-color: var(--text-main-color);
    position: absolute;
    left: -1.5rem;
    top: 20%;
}

/* END TOP-BAR PART */

header .intro {
    width: 50%;
    height: auto;
    min-height: 10rem;
    padding-left: 5vw;
    background-color: rgba(var(--main-color), 0.4);
    color: var(--text-main-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 1300px) {
    header .intro {
        padding-left: 10vw;
    }
}

header .intro .content {
    padding: 3rem;
}

header .intro h1 {
    font-weight: 400;
    margin: 0;
    margin-bottom: 1rem;
}

header .intro p {
    line-height: 2.2;
    font-weight: 300;
}

@media (max-width: 992px) {
    header .intro {
        width: 100%;
        min-height: 30vh;
    }
}

header .slides {
    width: 6rem;
    height: 2rem;
    position: absolute;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header .slides span {
    width: 1.2rem;
    height: 1.2rem;
    background-color: transparent;
    border: 1px solid var(--text-main-color);
    border-radius: 50%;;
}

header .slides span:nth-child(2) {
    background-color: rgb(var(--main-color));
    border: none;
}

/* END HEADER PART */

/* Start General sections styles */
.section {
    padding: 5rem 0;
}

.section .container {
    width: 80vw;
}

.section .section-header {
    margin: 0 auto;
    margin-bottom: 4rem;
}

.section h2 {
    color: var(--second-color);
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 500;
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 4rem;
    position: relative;
}

.section h2::before {
    content: '';
    width: 80%;
    height: 2px;
    background-color: var(--second-color);
    position: absolute;
    bottom: -1rem;
    left: 10%;
}

.section h2::after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    bottom: calc(-1rem - 12px / 2);
    right: 50%;
    transform: translateX(50%);
    border-radius: 50%;
    border: 2px solid var(--second-color);
}

.section .section-header > p {
    color: var(--gray-color);
    text-align: center;
}
/* End General sections styles */

/* Start Services Part Styles */
.services .services-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem
}

@media (max-width: 992px) {
    .services .services-list {
        grid-template-columns: 1fr;
    }
}

.services .service {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    gap: 2rem;
}

@media (max-width: 992px) {
    .services .service {
        padding: 0 1rem;
    }
}

@media (max-width:720px) {
    .services .service {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
}

.services .service-content {
    margin-top: -.4rem;
}

.services .service-content h3{
    color: rgb(var(--main-color));
}

.services .service-content p {
    color: var(--gray-color);
}
/* End Services Part Styles */

/* Start Features Part Styles */
.features {
    background: linear-gradient(to right, rgb(0 0 0 / .6), rgb(0 0 0 / .1), rgb(0 0 0 / .6)), url("./../imgs/design-features.jpeg");
    padding: 5rem 0;
    position: relative;
    height: 34rem;
    overflow: hidden;
}

.features .mobile {
    position: absolute;
    left: 5vw;
    bottom: -20%;
}

@media (min-width: 1300px) {
    .features .mobile {
        left: 10vw;
    }
}

@media (max-width: 992px) {
    .features .mobile {
        display: none;
    }
}

.features .design-feats {
    color: var(--text-main-color);
    background-color: rgba(var(--main-color), .4);
    width: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 3rem 4rem;
}

@media (max-width: 992px) {
    .features .design-feats {
        width: 100%;
    }
}

.features .design-feats h4 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.features .feat span {
    margin-left: 1rem;
}

.features .feat:not(:last-child) {
    margin-bottom: 1rem;
}

.features .feat a {
    text-decoration: none;
    color: var(--text-main-color);
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

/* End Features Part Styles */

/* Start Portfolio Part */

.portfolio ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 5rem;
}

.portfolio ul li {
    text-transform: capitalize;
    width: 4rem;
    border: 2px solid rgb(var(--main-color));
    text-align: center;
    transition: .3s ease all;
}

.portfolio ul li:hover {
    background-color: rgb(var(--main-color));
    color: #fff;
}

.portfolio .pictures {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 992px) {
    .portfolio .pictures {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .portfolio .pictures {
        grid-template-columns: 1fr;
    }
}

.portfolio .pic {
    position: relative;
    margin-bottom: -.5rem;
    overflow: hidden;
}

.portfolio .pic img {
    width: 100%;
    transition: .3s ease all;
}

.portfolio .pic:hover img {
    filter: blur(3px) grayscale(100%);
    transform: scale(1.2) rotate(3deg);
}

.portfolio .pic .pic-info {
    background-color: #fff;
    padding: 1rem;
    width: 100%;
    position: absolute;
    bottom: -10rem;
    left: 0;
    transition: .3s ease all;
}

.portfolio .pic:hover .pic-info {
    bottom: 0rem;
}

.portfolio .pic .pic-info h3 {
    text-transform: capitalize;
    color: var(--second-color);
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
}

.portfolio .pic .pic-info p {
    font-size: .9rem;
    text-transform: capitalize;
    color: rgb(var(--main-color));
}

.portfolio .more-button {
    margin: 4rem auto 0;
}

.portfolio button {
    text-transform: uppercase;
    border: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(var(--main-color));
    color: var(--text-main-color);
    padding: 1rem 1.5rem;
}

/* End Portfolio Part */

/* Start Video Part */

.video {
    background: linear-gradient(0 deg, rgb(0 0 0 / .3), rgb(0 0 0 / .3));
    position: relative;
}

.video::before {
    content: '';
    width: 100%;
    height: 99%;
    background-color: rgb(0 0 0 / .5);
    position: absolute;
    left: 0;
    top: 0;
}

.video video {
    width: 100%;
    height: 100%;
}

.video .video-content {
    background-color: rgba(var(--main-color), .4);
    text-align: center;
    width: 100%;
    padding: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.video .video-content h3 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.video .video-content p {
    text-transform: capitalize;
    margin-bottom: 1.5rem;
}

.video .video-content button {
    text-transform: uppercase;
    padding: .8rem 1.6rem;
    border: 1px solid var(--second-color);
    background-color: var(--second-color);
    color: var(--text-main-color);
    font-weight: 600;
    transition: .3s ease all;
}

.video .video-content button:hover {
    color: rgb(var(--main-color));
    border: 1px solid rgb(var(--main-color));
}

/* End Video Part */

/* Start About Part */

.about-us {
    padding-bottom: 0;
    position: relative;
}

.about-us::before {
    content: '';
    width: 100%;
    height: 3rem;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.about-us .about-image {
    height: 30rem;
    position: relative;
}

.about-us .about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 30%;
}

.about-us .about-image .img-content {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
    color: var(--text-main-color);
    background-color: rgba(var(--main-color), 1);
    position: absolute;
    bottom: 10%;
}

.about-us .img-content p {
    font-size: 1.4rem;
    text-shadow: 0 0 1rem #000;
}

.about-us .img-content span {
    text-transform: uppercase;
    font-size: 1.2rem;
    display: inline-block;
    margin: 1rem 0;
    font-weight: bold;
}

/* End About Part */

/* Start Stats Part */
.stats {
    background: linear-gradient(0deg, rgb(0 0 0 / .6), rgb(0 0 0 / .6)), url("./../imgs/stats.png");
    padding: 4rem 0;
}

.stats .stats-info {
    width: 90%;
    margin: 0 5%;
    background-color: rgba(var(--main-color), .5);
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

@media (max-width: 992px) {
    .stats .stats-info {
        grid-template-columns: 1fr 1fr;
        row-gap: 4rem;
    }
}

@media (max-width: 768px) {
    .stats .stats-info {
        grid-template-columns: 1fr;
    }
}

.stats .stat-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-main-color)
}

.stats .stat-info i {
    background-color: var(--second-color);
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    border-radius: 50%;
}

.stats .stat-info .stat-counter {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 1rem;
}

/* End Stats Part */

/* START SKILL AND TESTIMONIALS/CUSTOMERS PART */

.skills-costumers .container {
    color: var(--second-color);
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    column-gap: 2rem;
}

@media (max-width: 1140px) {
    .skills-costumers .container {
        grid-template-columns: 1fr;
        column-gap: 0;
        row-gap: 4rem;
    }
}

.skills-costumers .container > div > h3 {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.skills-costumers .container > div > p {
    color: var(--gray-color);
    margin-bottom: 2rem;
}

.skills-costumers .feedback {
    margin-bottom: 1rem;
    text-align: start;
}

.skills-costumers .feedback .feedback-content {
    display: flex;
    gap: 3rem
}

@media (max-width: 540px) {
    .skills-costumers .feedback:first-of-type {
        margin-bottom: 3rem;
    }
    .skills-costumers .feedback .feedback-content {
        flex-direction: column;
        align-items: center;
        gap: 1rem
    }
}

.skills-costumers .feedback .img-holder img {
    width: 8rem;
    border-radius: 50%;
}

.skills-costumers .feedback-text {
    padding-bottom: 2rem;
    position: relative;
}

.skills-costumers .feedback-text::before {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--gray-color);
    position: absolute;
    bottom: 1rem;
}

.skills-costumers .feedback .feedback-text p {
    font-size: .9rem;
}

.skills-costumers .feedback .feedback-text span {
    color: var(--gray-color);
    text-transform: uppercase;
    font-size: .7rem;
    position: absolute;
    bottom: 1.2rem;
    right: 1rem;
}

.skills-costumers .feed-slides {
    display: flex;
    justify-content: center;
    gap: .4rem;
}

.skills-costumers .feed-slides span {
    width: 1rem;
    height: 1rem;
    border: 1px solid #bbb;
    border-radius: 50%;
}

.skills-costumers .feed-slides span:nth-child(2) {
    background-color: rgb(var(--main-color));
}

/* START IN SKILL PART */

.skills-costumers .skills .skill > p {
    text-transform: uppercase;
    font-weight: bold;
}

.skills .skill {
    text-align: start;
}

.skills .skill-bar {
    width: 100%;
    height: 2rem;
    background-color: #eee;
    margin-top: 5px;
    position: relative;
}

.skills .skill:not(:last-child) {
    margin-bottom: 1rem;
}

.skills .skill:first-child .skill-bar::before {
    content: '';
    width: 90%;
    height: 100%;
    background-color: rgb(var(--main-color));
    position: absolute;
    top: 0;
    left: 0;
}

.skills .skill .skill-bar p {
    position: relative;
    top: -120%;
    left: 90%;
    transform: translateX(-50%);
    font-weight: bold;
    width: 3rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    background-color: var(--second-color);
    color: var(--text-main-color);
    border-radius: 3px;
}

.skills .skill .skill-bar p::before {
    content: '';
    width: 0rem;
    height: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: .6rem solid;
    border-color: var(--second-color) transparent transparent transparent ;
}

.skills .skill:nth-child(2) .skill-bar::before {
    content: '';
    width: 95%;
    height: 100%;
    background-color: rgb(var(--main-color));
    position: absolute;
    top: 0;
    left: 0;
}

.skills .skill:nth-child(2) p {
    left: 95%;
}

.skills .skill:nth-child(3) .skill-bar::before {
    content: '';
    width: 60%;
    height: 100%;
    background-color: rgb(var(--main-color));
    position: absolute;
    top: 0;
    left: 0;
}

.skills .skill:nth-child(3) p {
    left: 60%;
}

.skills .skill:last-child .skill-bar::before {
    content: '';
    width: 50%;
    height: 100%;
    background-color: rgb(var(--main-color));
    position: absolute;
    top: 0;
    left: 0;
}

.skills .skill:last-child p {
    left: 50%;
}

/* END SKILL AND TESTIMONIALS PART */

/* START QUOTE PART */
.quote {
    min-height: 20rem;
    background: linear-gradient(0deg , rgb(0 0 0 / .8) , rgb(0 0 0 / .8)), url("./../imgs/quote.jpeg");
}

.quote .quote-content {
    padding: 4rem;
    color: var(--text-main-color);
    text-align: center;
    position: relative;
}

.quote .quote-content::before {
    content: '';
    width: 70%;
    height: 1px;
    background-color: var(--gray-color);
    position: absolute;
    bottom: 1rem;
    left: 15%;
}

.quote .quote-content q {
    font-size: 2rem;
}

.quote .quote-content  span {
    font-size: 1rem;
    text-transform: uppercase;
    font-style: italic;
    position: absolute;
    bottom: 1.2rem;
    right: 15%;
    opacity: .7;
}

/* END QUOTE PART */

/* START PRICING PART */

.pricing .prices {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

@media (max-width: 1280px) {
    .pricing .prices {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .pricing .prices {
        grid-template-columns: 1fr;
    }
}

.pricing .prices .price-path {
    background-color: #fdfafa;
    border: 1px solid;
    border-color: rgb(var(--main-color)) transparent;
    padding: 1rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.pricing .path-info {
    border-bottom: 1px solid rgb(var(--main-color));
    padding-bottom: 1rem;
}

.pricing .price-path .path-info .path-name {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
}

.pricing .path-info .price-montant {
    font-weight: bold;
    margin-top: -.5rem;
}

.pricing .path-feats {
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem
}

.pricing .path-feats p {
    font-weight: 600;
    width: fit-content;
    border-bottom: 1px solid rgb(var(--main-color));
    position: relative;
}

.pricing .path-feats p::before {
    content: '';
    width: 0%;
    height: 1px;
    background-color: rgb(var(--main-color));
    position: absolute;
    top: 0;
    left: 0;
    transition: .3s ease all;
}

.pricing .path-feats p:hover::before {
    width: 100%;
}

.pricing .path-feats p:not(:last-child) {
    margin-bottom: 1rem;
}

.pricing .path-buy {
    border-top: 1px solid rgba(var(--main-color));
    padding: 2rem 0 1rem;
}

.pricing .path-buy a {
    text-decoration: none;
    border: 2px solid rgb(var(--main-color));
    text-transform: uppercase;
    font-weight: 600;
    padding: .5rem 1rem;
    color: var(--second-color);
    cursor: pointer;
    transition: .3s ease all;
}

.pricing .path-buy a:hover {
    background-color: rgb(var(--main-color));
    color: var(--text-main-color);
}
/* END PRICING PART */

/* START NEWSLETTER SECTION */
.newsletter {
    min-height: 30rem;
    background: linear-gradient(0deg, rgb(0 0 0 / .8), rgb(0 0 0 / .8)), url("./../imgs/newsletter.png");
    background-size: cover;
    padding: 4rem;
}

.newsletter .container {
    width: 80vw;
    margin: 0 auto;
    background: linear-gradient(to right, rgb(218 176 176 / .4), rgb(223 199 199 / .4));
    padding: 3rem;
    border-radius: 5px;
    color: var(--text-main-color);
}

.newsletter h3 {
    font-size: 2rem;
    text-transform: capitalize;
    color: rgb(var(--main-color));
}

.newsletter p:first-of-type {
    color: var(--second-color);
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 2rem;
}

.newsletter p:last-of-type {
    color: var(--second-color);
    width: 80%;
    font-weight: 500;
    margin-bottom: 1rem;
}

.newsletter form {
    padding: .5rem 0;
    max-width: fit-content;
    min-width: 20rem;
    background-color: rgb(255 255 255 / .2);
    border-radius: 10px;
    position: relative;
}

.newsletter form input {
    background-color: rgb(var(--second-color) / .4);
    color: var(--text-main-color);
    outline: none;
    border: none;
    padding: .5rem;
    width: 80%;
}

.newsletter form button {
    background-color: rgb(229, 132, 132);
    color: var(--text-main-color);
    border: none;
    font-size: .8rem;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 0px 50% 50%;
    transform: translateX(30%);
    cursor: pointer;
    transition: .3s ease all;
}

.newsletter form button:hover {
    font-size: 1.2rem;
}

.newsletter form input:valid + button {
    background-color: rgb(var(--main-color));
}

/* END NEWSLETTER SECTION */

/* START CONTACT-US SECTION */
.contact-us {
    background-color: rgb(var(--main-color));
}

.contact-us,
.contact-us .section-header h2 {
    color: var(--text-main-color);
}

.contact-us .section-header p {
    color: var(--text-main-color);
    text-transform: capitalize;
    font-weight: 600;
}

.contact-us .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-us .form p {
    text-transform: capitalize;
    font-weight: bold;
}

.contact-us .form input,
.contact-us .form textarea {
    background-color: transparent;
    outline: none;
    border: none;
    padding: .6rem .2rem;
    border-bottom: 2px solid var(--text-main-color);
    color: var(--text-main-color);
    margin-bottom: 1rem;
    resize: none;
}

::placeholder {
    color: rgb(255 255 255 / .6);
    text-transform: capitalize;
}

.contact-us .form button {
    padding: .5rem;
    background-color: #fff;
    color: rgb(var(--main-color));
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    outline: none;
    margin-top: 1rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}

input[type="email"]::placeholder {
    text-transform: none;
}

input[type="checkbox"] {
    display: none;
}

.contact-us .check-box label {
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 1.6rem;
    position: relative;
    cursor: pointer;
}

.contact-us .check-box label::before {
    content: '';
    width: .8rem;
    height: .8rem;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border: 2px solid #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 2px 2px 0 #fff;
}

.contact-us .check-box input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: '\f00c';
    font-size: .8rem;
    font-weight: bold;
    position: absolute;
    left: .2rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

/* END CONTACT-US SECTION */

/* START FOOTER SECTION */
footer {
    min-height: 20rem;
    background: linear-gradient(0deg, rgb(0 0 0 / .8), rgb(0 0 0 / .8)), url("./../imgs/footer.jpeg");
    background-size: cover;
    color: var(--text-main-color);
    padding: 4rem;
    text-transform: uppercase;
    text-align: center;
    position: relative;
}

footer .container {
    width: 70vw;
    margin: 0 auto;
}

footer .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

footer .content p {
    font-weight: bold;
    width: fit-content;
    position: relative;
}

footer .content p::before {
    content: '';
    width: 100%;
    height: 4px;
    background-color: rgb(var(--main-color));
    position: absolute;
    bottom: -1rem;
}

footer .content .social-media {
    width: fit-content;
    font-size: 1.4rem;
    display: flex;
    gap: 1rem;
}

footer .outro {
    position: absolute;
    bottom: 0;
    background-color: rgb(var(--main-color));
    width: 100%;
    left: 0;
    padding: 1rem;
    color: var(--text-main-color);
    font-weight: bold;
    letter-spacing: 1px;
}

footer .outro a {
    text-decoration: none;
}

footer .outro a,
footer .outro span {
    color: var(--second-color);
    border-bottom: 2px solid var(--text-main-color);
}

/* END FOOTER SECTION */
